.jihsm { 
  border-right-width: 7px;
  border-right-width: 35px;
  padding-top: 42px;
  margin-top: 3px;
  padding-right: 98px;
  padding-top: 6px;
  line-height: 43px;
  margin-right: 17px;
  border-top-width: 61px;
  margin-left: 56px;
  margin-top: 87px;
  padding-top: 73px;
  margin-top: 11px;
  margin-bottom: 60px;
  padding-bottom: 16px;
  padding-left: 32px;
  margin-left: 15px;
  margin-left: 96px;
  font-size: 7px;
  margin-top: 18px;
  border-top-width: 70px;
  border-right-width: 6px;
  border-right-width: 2px;
  margin-right: 5px;
  padding-bottom: 46px;
  margin-bottom: 13px;
  margin-left: 6px;
  margin-right: 44px;
  margin-bottom: 81px;
  padding-left: 94px;
  padding-right: 56px;
  padding-top: 79px;
  padding-left: 1px;
  margin-top: 22px;
  margin-left: 81px;
  margin-left: 64px;
  margin-top: 8px;
  line-height: 54px;
  font-size: 78px;
  padding-right: 92px;
  font-size: 61px;
  margin-bottom: 98px;
  margin-left: 2px;
  margin-top: 58px;
  border-top-width: 73px;
  margin-right: 43px;
}
