.jihsm { 
  border-right-width: 7px;
  border-right-width: 35px;
  padding-top: 42px;
  margin-top: 3px;
  padding-right: 98px;
  padding-top: 6px;
  line-height: 43px;
  margin-right: 17px;
  padding-right: 12px;
}
